@import url('./variable.css');

.auth-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #AFDDFF;
}

.auth-container .auth-wrapper {
    width: 400px;
    max-height: 400px;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.auth-container .auth-wrapper .auth-header {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 140px;
}

.auth-container .auth-wrapper .auth-header .icon-box {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container .auth-wrapper .auth-header .icon-box .icon {
    color: var(--text-color);
    font-size: 36px;
}

.auth-container .auth-wrapper .auth-form {
    width: 100%;
    border-radius: 14px;
    flex: 1;
    padding: 35px 20px;
    display: flex;
    background: var(--text-color);
    flex-direction: column;
    align-items: center;
    gap: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.auth-container .auth-wrapper .auth-form .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.auth-container .auth-wrapper .auth-form .form-group input {
    width: 100%;
    padding: 10px 5px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    outline: none;
    font-size: 14px;
    color: #000;
    border-color: var(--primary-color);
}

.auth-container .auth-wrapper .auth-form .btn {
    width: 100%;
    padding: 12px;
    background: var(--primary-color);
    font-size: 16px;
    color: var(--text-color);
    font-weight: bold;
    border: 0;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 15px;
}

.auth-container .auth-wrapper .auth-form .account-verify {
    font-size: 13px;
}

.auth-container .auth-wrapper .auth-form .account-verify span {
    color: var(--primary-color);
    cursor: pointer;
}